{% extends "base.html" %}
{% block title %}404 Error{% endblock %}
{% block content %}

<header class="bg-image-full d-flex justify-content-center align-items-center"
    style="background-image: url(https://res.cloudinary.com/dbcrbsqw1/image/upload/v1692914947/404_image__j4qmfh.jpg); 
opacity: 0.9; background-size: cover; background-position: center; background-repeat: no-repeat; width: 100%; height: 70vh;">
    <div style="height: 1.0rem"></div>
    <div class="hero-text text-center">
        <h1 class="hero-header text-#121212">404 Error - Page not found!</h1>
        <div class="d-grid gap-2 d-sm-flex justify-content-center">
            <a href="{% url 'home' %}" class="btn btn-takeoff btn-light btn-lg mt-3 gap-3">Go Home</a>
        </div>
    </div>
</header>


{%endblock%}